.login-box {
  border: 2px solid gray;
  display: flex;
  margin: 200px auto;
  height: 300px;
  width: 400px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  background-color: rgb(211, 236, 238);
  border-radius: 15px;
}

.input-form {
  height: 40px;
  border-radius: 5px;    
  margin: 0 0 5px 5px;
}

button {
  height: 50px;
  width: 255px;
  border-radius: 5px;
  margin:10px 0 50px;
}
