.Header {
  background-color: rgb(106, 118, 118);
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  justify-content: right;
  padding-right: 20px;
}

.Header p {
  margin-right: 10px;
}

.Header p:first-child {
  margin-right: 100px;
}

table {
  border: 2px solid black;

}

th {
  background-color: darkcyan;
  border: 2px solid black;
}
